/* You can add global styles to this file, and also import other style files */
.rojo{
    color:red;
}
.contenedor{
padding: 40px;
margin: 40px;
border: 20px black solid;
padding-top:  0px;
border-radius:  4Opx;
}

.contenedor {
    border-color:  yellow;
}